html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #D4AF37 0%, #B8860B 100%);
    background-size: cover;
}

#edit_product input, #add_product input, #delete_product input, #import_file input{
    margin: 30px;
    margin-bottom: 0;
    display: inline-block;
    border: solid 2px #B8860B;
    border-radius: 10px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
input:focus {
    outline: none;
    box-shadow: none;
}
#delete_product{
    display: inline-block;
}
.send_request{
    background-color: #B8860B;
    border: none;
    cursor: pointer;
}
#import_file{
    display: inline-block;
}
#file_upload{
    padding: 2px;
}