html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #D4AF37 0%, #B8860B 100%);
    background-size: cover;
}