body{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: rgba(10, 10, 10, 0.09);
}

nav{
    border-bottom: solid 2px lightgray;
    padding-right: 100px;
    height: 100px;
    background: linear-gradient(90deg, #D4AF37 0%, #B8860B 100%);
    position: sticky;
    top: 0px;
}

#burger_menu{
    border: none;
    background: url(../IMG/burger.svg);
    background-size: cover;
    height: 40px;
    width: 40px;
    float: left;
    left: 20px;
    position: relative;
    top: 35px;
    transition: transform 0.3s ease;
}
#burger_menu:hover{
    transform: scale(1.25);
}
#burger_menu:hover{
    cursor: pointer;
}

#logo{
    top: 5px;
    height: 70px;
    position: absolute;
    background-color: black;
    background-size: cover;
    left: 100px;
    padding: 10px 50px;
    border-radius: 10px;
}
#logo:hover{
    cursor: pointer;
}

article{
    padding: 0px 25px;
}

#logout{
    position: relative;
    border: none;
    height: 50px;
    float: right;
    right: -60px;
    position: relative;
    top: 25px;
    transition: transform 0.3s ease;
}
#logout:hover{
    transform: scale(1.25);
}
nav h2{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 25px;
}
#dashboard {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05), 2px 0 6px rgba(0,0,0,0.05);
  padding: 24px;
  max-width: 100%;
  margin: 20px;
}

#dashboard h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 16px;
}

#dashboard ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#dashboard ul li {
  margin-bottom: 8px;
}
#title{
  font-size: 30px;
  text-align: center;
}
#acc_management input{
    margin: 20px;
    margin-bottom: 0;
    display: inline-block;
    border: solid 2px #B8860B;
    border-radius: 10px;
    display: inline-block;
    padding: 2.5px 0;
    padding-left: 10px;
}
input:focus {
    outline: none;
    box-shadow: none;
}
#pfp_change{
    padding: 2px;
}
#pfp{
    background: linear-gradient(to bottom right, #D4AF37 0%, #B8860B 100%);
    cursor: pointer;
}