html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    color: white;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(to bottom right, #000000 10%, #B8860B 90%);
    background-size: cover;
    filter: contrast(1.5);
}

#logo{
    height: 100px;
    position: absolute;
    background-color: black;
    background-size: cover;
    padding: 10px 75px;
    border-radius: 10px;
    margin: auto;
    top: 20px;
    left: 125px;
}
#logo:hover, #submit_button:hover{
    cursor: pointer;
}

article{
    margin: auto;
    width: 500px;
    top: 200px;
    position: relative;
    text-align: center;
    height: 600px;
    border: solid 1px lightgray;
    box-shadow: rgb(0, 0, 0) 10px 10px 15px, #ffc663 -7px -7px 10px;
    border-radius: 15px;
    background-color: black;
    transition: transform 0.3s ease;
}
article:hover{
    transform: scale(1.05);
}
input:hover{
    transform: scale(1.05);
}
#login_form{
    position: relative;
    top: 200px;
    color: white;
    font-size: 20px;
}
#login_form:hover{
    article:hover{
        transform: scale(1.05);
    }
}
input{
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
    transition: transform 0.3s ease;
}
input:focus {
    outline: none;
    box-shadow: none;
}
#login_submit{
    background-color: #D4AF37;
    transform: transform 0.3s ease;
}
#login_submit:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#registration{
    position: relative;
    bottom: -300px;
    text-align: center;
    width: 500px;
    z-index: 1;
}
#registration_link{
    text-decoration: none;
    color: #D4AF37;
}
footer p{
    color: white;
}

#show_password {
    appearance: none; /* Remove default checkbox */
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 24px;
    height: 24px;
    background: url('../IMG/eye.png') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    position: relative;
    margin: 0;
    top: 6px;
    right: 5px;
    transform: transform 0.3s ease;
}
#show_password:checked {
    background-image: url('../IMG/hidden.png'); /* When checked */
}
#password_input{
    margin-left: 0;
    margin-right: -24px;
}
#password_array:hover{
    transform: scale(1.05);
}